/*******************************************
  FOOTER
  src/scss/partials/_footer.scss
*******************************************/


.footer {
	position: relative;
	width: 100%;
	bottom: 0;
	z-index: 800;
	-webkit-backface-visibility: hidden;

	.footer__text {
		background: $blue_light;
		text-align: center;
		display: table;
		height: 45px;
		width: 100%;

		@include mq('tablet') { height: 50px; }
		@include mq('desktop') { height: 40px; }

		h4 {
			color: $white;
			text-transform: uppercase;
			font-weight: $weight_mid;
			padding: 0 20px;
			margin: 0;
			display: table-cell;
			vertical-align: middle;
		}
	}


	.tile__container {
		display: flex;
		flex-wrap: wrap; 
		position: relateive;
	}


	.tile {
		width: 25%;
		height: 75px;
		background: $white;
		transition: $transition_short;
		position: relative;
		cursor: pointer;

		@include mq('phone-wide') {  height: 110px; }
		@include mq('tablet') {  height: 130px; }
		@include mq('desktop') { width: calc(100% / 8); height: 165px; }
		@include mq(1000px) { height: 145px; }
	
		&:nth-child(1) { z-index: 200; }
		&:nth-child(2) { z-index: 201; }
		&:nth-child(3) { z-index: 202; }
		&:nth-child(4) { z-index: 203; }
		&:nth-child(5) { z-index: 204; }
		&:nth-child(6) { z-index: 205; }
		&:nth-child(7) { z-index: 206; }
		&:nth-child(8) { z-index: 207; }

		&:hover .tile__hover, &:focus .tile__hover { 
			@include mq('tablet') { opacity: 1; }
		}


		.tile__inner {
			display: table;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 500;

			&:after {
				content: "";
				width: 0px;
				height: 0px;
				position: absolute;
				background: $orange;
				top: 10px;
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				transition: $transition_short;
			}
		}


		.tile__gfp {
			text-align: center;
			display: table-cell !important;
			vertical-align: middle !important;

			div {
				display: inline-block;
				vertical-align: middle;
				width: 30px;
				padding-bottom: 38%;
				background: url(../images/globe_full.svg) center no-repeat;

				@include mq('phone-wide') { width: 42px; }
				@include mq('tablet') { width: 60px; }
				@include mq('desktop') { width: 40%; }
			}

			h5 {
				text-align: left;
				vertical-align: middle;
				display: inline-block;
				color: white;
				text-transform: uppercase;
				width: 35%;
				margin: auto;
				font-weight: $weight_bold;
				margin-left: 3px;

				@include mq('phone-wide') { width: 42px; }
				@include mq('tablet') { width: 60px; }
				@include mq('desktop') { width: 40%; }
			}

		}


		.tile__primary {
			text-align: center;
			display: table-cell !important;
			vertical-align: middle !important;

			div {
				color: $blue_primary;
				font-size: 2.6rem;
				transition: $transition_short;

				@include mq('phone-wide') { font-size: 3rem; }
				@include mq('tablet') { font-size: 5rem; }
				@include mq('desktop') { font-size: 4.5rem; }
			}
		}


		.tile__primary h5, .tile__hover h5 {
			text-transform: uppercase;
			width: 70%;
			margin: auto;
			font-weight: $weight_bold;
			transition: $transition_short;
		}


		.tile__hover {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $blue_light;
			text-align: center;
			color: $black;
			z-index: 900;
			display: none;
			opacity: 0;
			transition: $transition_long;

			@include mq('desktop') { display: table; }
	
			.tile__hover-inner {
				display: table-cell !important;
				vertical-align: middle !important;
				text-align: center;

				ul {
					display: inline-block;
					padding: 0;
					padding-top: 6px;
					padding-left: 15px;
					max-width: 70%;
					margin: auto;
					text-align: left;
					font-size: 10px;
					font-weight: $weight_mid;
					list-style: none;

					h5 { font-weight: $weight_bold; }

					li { 
						padding-bottom: 3px;
						margin-bottom: 3px;
						font-weight: $weight_primary;
						position: relative;

						&:last-child { border-bottom: none; }

						&:before { 
							content:''; 
							display:inline-block; 
							position: absolute;
							top: 1px;
							height: 10px; 
							width: 10px; 
							background-image:url('../images/checkmark_dark.svg'); 
							background-size:contain; 
							background-repeat:no-repeat; 
							left: -15px; 
						}
					}
				}
			}
		}


		.tile__content {
			height: 0;
			width: 0;
			position: absolute;
			bottom: 100%;
    		background: rgba($orange_dark, 0.95);
			
			.tile__content-inner>div ul {
				@include mq('desktop') { display: none; }
			}

			h3 {
				text-transform: uppercase;
			}
		}


		&--blue { 
			background: $blue_primary; 
			
			.tile__hover { color: $white; background: $blue_primary; }
			.tile__hover .tile__hover-inner ul { 
				max-width: 60%;

				@include mq('desktop') { max-width: 40%; }
			}
			.tile__hover .tile__hover-inner ul li:before { background-image:url('../images/checkmark.svg'); }

			.tile__content {
				h2 {
				    position: relative;
				    padding-left: 30px;

				    @include mq('tablet') { padding-left: 40px; }

					img {
						width: 20px;
					    margin-right: 5px;
					    position: absolute;
					    left: 0;
					    top: 2px;

					    @include mq('tablet') { width: 30px; }
					}
				}
			}
		}


		&--lblue { background: $blue_vlight; }


		&--m-lblue {
			background: $blue_vlight;

			@include mq('desktop') { background: $white; }
		}


		&--d-lblue {
			background: $white;

			@include mq('desktop') { background: $blue_vlight; }
		}


		&--active {
			background: $orange;

			.tile__inner {
				&:after {
					width: 10px;
					height: 10px;
					top: -5px;

					@include mq('tablet') { width: 20px; height: 20px; top: -10px; }
				}
			}

			.tile__primary {
				div { color: $white; }
				h5 { color: $white; }
			}

			.tile__hover { opacity: 0 !important; }
		}
	}


	//.tile--active {
		.tile__content { /*height: auto;*/ }

		.tile:nth-child(1) {
			.tile__content {
				width: 100vw; left: 0; /*height: calc(100vh - 150px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); }
			}
		}
		.tile:nth-child(2) {
			.tile__content {
				width: 100vw; left: calc(-100vw / 4); /*height: calc(100vh - 150px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); left: 0; /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); left: 0; right: auto; }
			}
		}
		.tile:nth-child(3) {
			.tile__content {
				width: 100vw; left: calc((-100vw / 4) * 2); /*height: calc(100vh - 150px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); left: auto; right: 0; /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); left: 0; right: auto; }
			}
		}
		.tile:nth-child(4) { 
			.tile__content {
				width: 100vw; right: 0; /*height: calc(100vh - 150px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); left: 0; right: auto; }
			}
		}
		.tile:nth-child(5) {
			.tile__content {
				width: 100vw; left: 0; /*height: calc(100vh - 75px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); left: auto; right: 0; }
			}
		}
		.tile:nth-child(6) {
			.tile__content {
				width: 100vw; left: calc(-100vw / 4); /*height: calc(100vh - 75px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); left: 0; /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); left: auto; right: 0; }
			}
		}
		.tile:nth-child(7) { 
			.tile__content {
				width: 100vw; left: calc((-100vw / 4) * 2); /*height: calc(100vh - 75px);*/
				@include mq('tablet') { width: calc((100vw / 4) * 3); left: auto; right: 0; /*height: auto;*/ }
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); }
			}
		}
		.tile:nth-child(8) {
			.tile__content {
				width: 100vw; left: calc((-100vw / 4) * 3);
				@include mq('tablet') { width: calc((100vw / 4) * 3); left: auto; right: 0;}
				@include mq('desktop') { width: calc((100vw / 8) * 4.5); }
			}
		}
	//}
}