/*******************************************
  LIST
  src/scss/partials/_list.scss
*******************************************/

.list {
	position: relative;
	z-index: 799;
	right: 0;
	transition: $transition_long;
	

	@include mq('tablet') { position: absolute; }


	.list__btn {
		background: $blue_primary;
	    width: 100vw;
		height: 35px;
	    color: white;
		cursor: pointer;

		@include mq('tablet') {
			width: 80px;
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
		    text-align: center;
		}


		&>div {
			display: inline-block;
			height: 100%;
			text-align: center;

			@include mq('tablet') { display: block; height: auto; }

			div { 
				display: table;
				width: 100%;
				height: 100%; 
				
				span { display: table-cell; vertical-align: middle; transition: $transition_short; }
			}
		}


		.list__btn-icon {
			width: 35px;
			border-right: 1px solid rgba(255,255,255,0.2);
    		font-size: 1.8rem;

    		@include mq('tablet') { width: 100%; font-size: 2.5rem; margin-bottom: 10px; }
		}


		.list__btn-txt {
			width: calc(100vw - 85px);
			font-size: 1.6rem;
			text-transform: uppercase;
			font-weight: $weight_mid;
			text-align: left;

			@include mq('tablet') { width: 100%; text-align: center; font-size: 1.2rem; }

			span { padding: 0 5px; }
		}


		.list__btn-arrow {
			width: 35px;
			font-size: 1.6rem;

			@include mq('tablet') { display: none; }
		}
	}




	.list__container {
		position: absolute;
		overflow: hidden;
		background: $blue_bg;
		height: 0;
		transition: $transition_long;
		-webkit-backface-visibility: hidden;
		width: 100%;

		@include mq('tablet') {
			width: 400px;
			height: calc(100vh - 419px);
			top: 0;
			left: 80px;
			background: rgba($blue_bg, 0.6);
		}

		@include mq('desktop') { height: calc(100vh - 323px); }
		@include mq(1000px) { height: calc(100vh - 304px); }

		.list__outer {
			overflow: hidden;
			color: white;
			width: 100%;
			margin: auto;
			height: 100%;
			position: relative;

			@include mq('tablet') {
				border-right: 4px solid $blue_light;
				width: 82%;
				margin: 15px 0 15px 20px;
				height: calc(100% - 30px);
			}

		
			.icon-arrow_right_thick {
				position: absolute;
				display: none;
				width: 20px;
				height: 20px;
				bottom: 0;
				right: 40px;
				font-size: 2rem;
				transform: rotate(90deg);

				@include mq('tablet') { 
					display: block; 
					cursor: pointer; 

					&:hover { color: $blue_light; }

				}

				
			}


			.list__inner {
				width: calc(100% + 25px);
				overflow-y: scroll;
				overflow-x: hidden;
				-webkit-overflow-scrolling: touch;
				height: 100%;

				@include mq('tablet') { height: calc(100% - 25px); }
			}
		}


		.list__sb-container {
			display: none;
			position: absolute;
		    top: 14px;
		    right: 20px;
		    height: calc(100% - 34px);
		    width: 14px;

		    @include mq('tablet') { display: block; }

			.list_sb {
				width: 100%;
			    height: 100%;
			    background: $blue_dark;
			    padding: 2px;

				.list_scrub {
					width: 60%;
				    margin: auto;
				    height: 200px;
				    background: $blue_bg;
				}
			}
		}

	}


	.country_list {
		padding: 0;
		margin: 0;
		list-style: none;
		width: calc(100% - 25px);

		li {
			width: 100%;
			display: table;
			border-bottom: 1px solid $white;
			padding: 10px 15px;
			cursor: pointer;

			@include mq('tablet') {
				border-bottom: none;
			}

			&:last-child {
				border-bottom: none;
			}

			&>div {
				display: table-cell;
				vertical-align: middle;
			
				div { display: inline-block; vertical-align: middle; }

				div:nth-child(1) {
					text-align: left;
					font-size: 1.7rem;
					font-weight: $weight_bold;
					width: calc(100% - 50px);
					transition: $transition_short;

					@include mq('tablet') {
						font-size: 1.4rem;
						text-align: right;
						width: calc(100% - 40px);
					}
				}

				div:nth-child(2) {
					width: 20px;

					@include mq('tablet') { display: none; }

					span {
						content: "";
						display: block;
						width: 12px;
						height: 12px;
						transition: $transition_short;

						
					}
				}
			}

			&.li--active {

				.country-name {
					@include mq('tablet') { font-size: 1.6rem !important; }
				}
			}
		}
	}


	&--active {
		z-index: 1900;

		@include mq('tablet') { z-index: 799; right: 400px; }

		.list-btn .icon-arrow_right_thick { transform: rotate(90deg); }

		.list__container { 
			@include mq('tablet', 'max') { height: calc(100vh - 135px); }
		}
	}
}