/*******************************************
  BASE
  src/scss/views/_base.scss
*******************************************/


html, body { height: 100%; }

.hide { display: none; }

#container { position: relative; height: 100%; }

#templates { display: none; }


.p_view {
	@include mq('tablet') { display: none; }
}

.t_view {
	display: none;

	@include mq('tablet') { display: block !important; }
	@include mq('desktop') { display: none; }
}

.d_view {
	display: none;

	@include mq('tablet') { display: none; }
	@include mq('desktop') { display: block !important; }
}
