* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: proxima-nova;
}

h3 {
  font-size: 21px !important;
  font-weight: bold !important;
  line-height: 21px !important;
  font-family: proxima-nova;
}

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
  font-family: proxima-nova;
}

.focus-sec-bg {
  background-color: white;
}

#cont1 {
  position: relative;
}

.mapsvg-wrap {
  max-width: 900px !important;
  margin: 0 auto;
}

div .tooltip-message_1 {
  position: absolute;
  top: 335px;
  right: 68px;
  width: 200px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  max-width: 300px;
  text-align: center;
  padding: 15px;
  height: auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 34px -6px #CCD1DB;
  -moz-box-shadow: 0px 4px 34px -6px #CCD1DB;
  box-shadow: 0px 4px 34px -6px #CCD1DB;
}
div .tooltip-message_2 {
  position: absolute;
  top: 290px;
  left: 210px;
  width: 200px;
  max-width: 300px;
  text-align: center;
  padding: 15px;
  height: auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 34px -6px #CCD1DB;
  -moz-box-shadow: 0px 4px 34px -6px #CCD1DB;
  box-shadow: 0px 4px 34px -6px #CCD1DB;
}
div .tooltip-message_3 {
  position: absolute;
  top: 300px;
  left: 250px;
  font-family: Helvetica, Arial;
  width: 200px;
  max-width: 300px;
  text-align: center;
  padding: 15px;
  height: auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 34px -6px #CCD1DB;
  -moz-box-shadow: 0px 4px 34px -6px #CCD1DB;
  box-shadow: 0px 4px 34px -6px #CCD1DB;
}
div .tooltip-message_4 {
  position: absolute;
  top: 420px;
  left: 260px;
  font-family: Helvetica, Arial;
  width: 200px;
  max-width: 300px;
  text-align: center;
  padding: 15px;
  height: auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 34px -6px #CCD1DB;
  -moz-box-shadow: 0px 4px 34px -6px #CCD1DB;
  box-shadow: 0px 4px 34px -6px #CCD1DB;
}

.mapsvg-tooltip.mapsvg-tooltip-visible {
  -webkit-box-shadow: 0px 4px 34px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 34px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 34px -6px rgba(0, 0, 0, 0.75);
}

.datacountry {
  color: #A9B3BE;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}
.datacountry__note {
  font-size: 8px;
}
.datavalue {
  color: black;
  font-size: 20px !important;
  color: #0265b5 !important;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  margin-bottom: 0px !important;
}
.datavalue--pipeline {
  color: black;
  font-size: 20px !important;
  color: #0265b5 !important;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  margin-bottom: 0px !important;
}
.datavalue--earmarked {
  color: black;
  font-size: 20px !important;
  color: #00b05f !important;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  margin-bottom: 0px !important;
}

#mapsvg {
  background-color: white !important;
}

/*# sourceMappingURL=style.css.map */
