@font-face {
  font-family: 'undp_icons';
  src:  url('fonts/undp_icons.eot?g9s7do');
  src:  url('fonts/undp_icons.eot?g9s7do#iefix') format('embedded-opentype'),
    url('fonts/undp_icons.ttf?g9s7do') format('truetype'),
    url('fonts/undp_icons.woff?g9s7do') format('woff'),
    url('fonts/undp_icons.svg?g9s7do#undp_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'undp_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_right_thick:before {
  content: "\e902";
}
.icon-arrow_down_thin:before {
  content: "\e901";
}
.icon-access_to_justice:before {
  content: "\e900";
}
.icon-community_security:before {
  content: "\e903";
}
.icon-gender_justice:before {
  content: "\e904";
}
.icon-human_rights:before {
  content: "\e905";
}
.icon-institution_building:before {
  content: "\e906";
}
.icon-map_marker:before {
  content: "\e907";
}
.icon-political_engagement:before {
  content: "\e908";
}
.icon-transitional_justice:before {
  content: "\e909";
}

